
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://thumbs.dreamstime.com/b/cocktail-icon-logo-modern-line-style-high-quality-black-outline-pictogram-web-site-design-mobile-apps-vector-83611670.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Create a cocktail", cocktails_new_path, class: 'btn btn-primary' %>
      </li>
    </ul>
  </div>
</div>


<ul class="cards">
  <% @cocktails.each do |cocktail| %>
    <li>

      <div class="cards">

        <div class="card" style="width: 18rem;">
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"> <%= link_to cocktail.name, cocktail_path(cocktail) %> </h5>
                <% cocktail.doses.each do |dose| %>
                    <%=  dose.ingredient.name %>
                <% end %>
          </div>
        </div>

      </div>


    </li>
  <% end %>
</ul>



