<h1> <%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses do |dose| %>
    <li> <%= dose.description %> <%= dose.ingredient.name %></li>
  <% end %>
</ul>

<h2> Doses </h2>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"> Description: <%= dose.description %> (Ingredient: <%=  dose.ingredient.name %>) <%= link_to "Remove", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %> </li>
  <% end %>
</ul>

<h2> Add a dose </h2>
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, include_blank: false %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>


<br>

<%= link_to("See all cocktails", cocktails_path) %>
